.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(to right, #000, #1a1a2e);
    color: white;
  }
  
  .left {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  
  .title {
    font-weight: bold;
    font-size: 18px;
    margin-left: 120px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: auto;
  }
  
  .search-box {
    border: none;
    outline: none;
    background: #2a2a3a;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    width: 500px;
  }
  
  .search-button {
    background: none;
    border: 1px solid #3a3a4a;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }
  
  .buttons {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .icon-button {
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: 1px solid #3a3a4a;
    border-radius: 50px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
  }
  
  .icon-button:hover, .search-button:hover {
    background: #3a3a4a;
  }
  